@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome the Super Hero Creator</h1>
   
        <img src=~/Images/background.gif style="position: relative; width: 80vw; ">
        <img src=~/Images/main.png style="position: absolute;
        top: 40vh;
        left: 30vw;
        width: 35vw;
        " />
  
    <p> <a href=""></a>.</p>
</div>
